<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-image:url('1000.jpg');">
<div>
<img src="head.png" width="1520" height="150"></div>
<div>
    
     <table class="table table-light">
     
     <tr >
       <th style="text-align:center" >  <h4><a href="https://www.britannica.com/science/solar-energy"><p style="color:Purple;">Why Solar Energy?</p></a></h4></th>
      <th style="text-align:center" >  <h4><a href="https://www.conserve-energy-future.com/what-is-net-metering-and-how-net-metering-works.php"><p style="color:Purple;">What is net metering?</p></a></h4></th>
     <th style="text-align:center">   <h4><a href="/register"><p style="color:Purple;">Register Here</p></a></h4></th>
      <th style="text-align:center">  <h4><a href="/login"><p style="color:Purple;">Login to your account</p></a></h4></th>
         </tr>
          </table>
       </div>    
    <center> <img src="123.gif" width="1200" height="600" class="center" ></center>
    <div>
    
     <table class="table table-light">
     
     <tr >
       <th style="text-align:center">  <h4><a href="https://www.itsmysun.com/solar-state-wise-policy/"><p style="color:purple;">Statewise Solar Policy</p></a></h4></th>
      <th style="text-align:center">  <h4><a href="https://www.saurenergy.com/opinion/top-10-solar-companies-in-india"><p style="color:purple;">Solar Panel Brands</p></a></h4></th>
     <th style="text-align:center">   <h4><a href="https://energydarpan.com/blog/top-10-solar-inverter-manufacturers-in-india"><p style="color:purple;">Solar Inverter Brands</p></a></h4></th>
      <th style="text-align:center">  <h4><a href="https://www.loomsolar.com/blogs/reviews/top-10-battery-companies-in-india"><p style="color:purple;">Solar Batteries Brands</p></a></h4></th>
         </tr>
          </table>
       </div>   
    
</body>
</html>