<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body style="background-image:url('1000.jpg');">


 <div style="height: 200px;">
   
   </div>

    <div class="container text-center">
      <div   class="p-3 mb-2 bg-info text-white">
        <h3>You have signed up successfully!</h3>
        <h4><a href="/login"><p style="color:Purple;">Click here to Login</p></a></h4>
    </div>
     </div>
</body>
</html>